In [1]:
import pandas as pd
import numpy as np

In [4]:
zomato= pd.read_csv(r'C:\Users\Dell\Downloads\zomato.csv' ,encoding='ISO-8859-1')

In [7]:
country_code_data=pd.read_csv(r"C:\Users\Dell\Downloads\\Country-Code.xlsx",encoding='ISO-8859-1', delimiter=';')

In [9]:
zomato

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [11]:
zomato.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [12]:
zomato = zomato.dropna()

In [13]:
zomato.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [16]:
columns_to_drop = ['Cuisines']
zomato = zomato.drop(columns=columns_to_drop)

In [17]:
zomato

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,1100,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,1200,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,4000,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,1500,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,1500,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,80,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,105,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,170,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,120,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,55,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [19]:
from sklearn.preprocessing import LabelEncoder
columns_to_encode = ['Rating text','Rating color','City', 'Has Table booking', 'Currency','Restaurant Name','Has Online delivery','Is delivering now','Switch to order menu']

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to each column
for column in columns_to_encode:
    zomato[column + '_encoded'] = label_encoder.fit_transform(zomato[column])

In [21]:
from sklearn.preprocessing import *
le=LabelEncoder()

zomato['Restaurant Name']=le.fit_transform(zomato['Restaurant Name'])
zomato['Currency']=le.fit_transform(zomato['Currency'])
zomato['Has Table booking']=le.fit_transform(zomato['Has Table booking'])

zomato['Has Online delivery']=le.fit_transform(zomato['Has Online delivery'])

zomato['Is delivering now']=le.fit_transform(zomato['Is delivering now'])
zomato['City']=le.fit_transform(zomato['City'])
zomato['Rating text_encoded']=le.fit_transform(zomato['Rating text_encoded'])
zomato['Rating color_encoded']=le.fit_transform(zomato['Rating color_encoded'])


zomato

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Average Cost for two,...,Votes,Rating text_encoded,Rating color_encoded,City_encoded,Has Table booking_encoded,Currency_encoded,Restaurant Name_encoded,Has Online delivery_encoded,Is delivering now_encoded,Switch to order menu_encoded
0,6317637,3743,162,73,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,1100,...,314,1,0,73,1,0,3743,0,0,0
1,6304287,3168,162,73,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,1200,...,591,1,0,73,1,0,3168,0,0,0
2,6300002,2893,162,75,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,4000,...,270,5,1,75,1,0,2893,0,0,0
3,6318506,4700,162,75,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,1500,...,365,1,0,75,0,0,4700,0,0,0
4,6314302,5515,162,75,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,1500,...,229,1,0,75,1,0,5515,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4436,208,139,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,80,...,788,5,1,139,0,11,4436,0,0,0
9547,5908749,1311,208,139,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,105,...,1034,5,1,139,0,11,1311,0,0,0
9548,5915807,3064,208,139,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,170,...,661,2,5,139,0,11,3064,0,0,0
9549,5916112,513,208,139,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,120,...,901,5,1,139,0,11,513,0,0,0
9550,5927402,7231,208,139,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,55,...,591,5,1,139,0,11,7231,0,0,0

In [22]:
zomato.drop(['Average Cost for two', 'Price range','Address','Locality','Locality Verbose'], axis=1)

,Restaurant ID,Restaurant Name,Country Code,City,Longitude,Latitude,Currency,Has Table booking,Has Online delivery,Is delivering now,...,Votes,Rating text_encoded,Rating color_encoded,City_encoded,Has Table booking_encoded,Currency_encoded,Restaurant Name_encoded,Has Online delivery_encoded,Is delivering now_encoded,Switch to order menu_encoded
0,6317637,3743,162,73,121.027535,14.565443,0,1,0,0,...,314,1,0,73,1,0,3743,0,0,0
1,6304287,3168,162,73,121.014101,14.553708,0,1,0,0,...,591,1,0,73,1,0,3168,0,0,0
2,6300002,2893,162,75,121.056831,14.581404,0,1,0,0,...,270,5,1,75,1,0,2893,0,0,0
3,6318506,4700,162,75,121.056475,14.585318,0,0,0,0,...,365,1,0,75,0,0,4700,0,0,0
4,6314302,5515,162,75,121.057508,14.584450,0,1,0,0,...,229,1,0,75,1,0,5515,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4436,208,139,28.977392,41.022793,11,0,0,0,...,788,5,1,139,0,11,4436,0,0,0
9547,5908749,1311,208,139,29.041297,41.009847,11,0,0,0,...,1034,5,1,139,0,11,1311,0,0,0
9548,5915807,3064,208,139,29.034640,41.055817,11,0,0,0,...,661,2,5,139,0,11,3064,0,0,0
9549,5916112,513,208,139,29.036019,41.057979,11,0,0,0,...,901,5,1,139,0,11,513,0,0,0
9550,5927402,7231,208,139,29.026016,40.984776,11,0,0,0,...,591,5,1,139,0,11,7231,0,0,0

In [23]:
X = zomato.drop(['Average Cost for two', 'Price range','Address','Locality','Locality Verbose','Rating color','Rating text'], axis=1)
y_cost = zomato['Average Cost for two']
y_price_range = zomato['Price range']

In [25]:
X

,Restaurant ID,Restaurant Name,Country Code,City,Longitude,Latitude,Currency,Has Table booking,Has Online delivery,Is delivering now,...,Votes,Rating text_encoded,Rating color_encoded,City_encoded,Has Table booking_encoded,Currency_encoded,Restaurant Name_encoded,Has Online delivery_encoded,Is delivering now_encoded,Switch to order menu_encoded
0,6317637,3743,162,73,121.027535,14.565443,0,1,0,0,...,314,1,0,73,1,0,3743,0,0,0
1,6304287,3168,162,73,121.014101,14.553708,0,1,0,0,...,591,1,0,73,1,0,3168,0,0,0
2,6300002,2893,162,75,121.056831,14.581404,0,1,0,0,...,270,5,1,75,1,0,2893,0,0,0
3,6318506,4700,162,75,121.056475,14.585318,0,0,0,0,...,365,1,0,75,0,0,4700,0,0,0
4,6314302,5515,162,75,121.057508,14.584450,0,1,0,0,...,229,1,0,75,1,0,5515,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4436,208,139,28.977392,41.022793,11,0,0,0,...,788,5,1,139,0,11,4436,0,0,0
9547,5908749,1311,208,139,29.041297,41.009847,11,0,0,0,...,1034,5,1,139,0,11,1311,0,0,0
9548,5915807,3064,208,139,29.034640,41.055817,11,0,0,0,...,661,2,5,139,0,11,3064,0,0,0
9549,5916112,513,208,139,29.036019,41.057979,11,0,0,0,...,901,5,1,139,0,11,513,0,0,0
9550,5927402,7231,208,139,29.026016,40.984776,11,0,0,0,...,591,5,1,139,0,11,7231,0,0,0

In [26]:
from sklearn.preprocessing import *
le=LabelEncoder()

X['Switch to order menu']=le.fit_transform(X['Switch to order menu'])

In [27]:
X.dtypes

Restaurant ID                     int64
Restaurant Name                   int64
Country Code                      int64
City                              int64
Longitude                       float64
Latitude                        float64
Currency                          int64
Has Table booking                 int64
Has Online delivery               int64
Is delivering now                 int64
Switch to order menu              int32
Aggregate rating                float64
Votes                             int64
Rating text_encoded               int64
Rating color_encoded              int64
City_encoded                      int32
Has Table booking_encoded         int32
Currency_encoded                  int32
Restaurant Name_encoded           int32
Has Online delivery_encoded       int32
Is delivering now_encoded         int32
Switch to order menu_encoded      int32
dtype: object

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [29]:
X_train, X_test, y_cost_train, y_cost_test = train_test_split(X, y_cost, test_size=0.2, random_state=42)

In [30]:
y_cost_train

8177    450
6401    700
81      120
1332    300
9041    500
       ...
5743    250
5200    300
5399    500
869     100
7279    300
Name: Average Cost for two, Length: 7633, dtype: int64

In [31]:
X_train.dtypes

Restaurant ID                     int64
Restaurant Name                   int64
Country Code                      int64
City                              int64
Longitude                       float64
Latitude                        float64
Currency                          int64
Has Table booking                 int64
Has Online delivery               int64
Is delivering now                 int64
Switch to order menu              int32
Aggregate rating                float64
Votes                             int64
Rating text_encoded               int64
Rating color_encoded              int64
City_encoded                      int32
Has Table booking_encoded         int32
Currency_encoded                  int32
Restaurant Name_encoded           int32
Has Online delivery_encoded       int32
Is delivering now_encoded         int32
Switch to order menu_encoded      int32
dtype: object

In [33]:
model_cost = LinearRegression()
model_cost.fit(X_train, y_cost_train)

LinearRegression()

In [34]:
from sklearn.metrics import mean_squared_error, r2_score

In [35]:
predictions_average_cost = model_cost.predict(X_test)